* {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background:rgb(131, 58, 180);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.superior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

h1 {
    color: rgb(236, 85, 160);
    font-size: 70px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.gif-sorteio {
    width: 150px;
}

.digite-aqui {
    font-size: 50px;
}

.central {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 10px;

}

input {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
    color: blueviolet;
    font-family: 'Orbitron', sans-serif;
}

input::placeholder {
    font-size: 20px;
    padding-left: 10px;
    color: blueviolet;
    font-family: 'Oswald', sans-serif;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 260px;
    font-size: 20px;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    cursor: pointer;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    border: none;
}

.start {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 280px;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    visibility: hidden;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    color: antiquewhite;
}

@media screen and (max-width: 500px) {
    body {
        background-image: url('/assets/fundo.cel.png');

    }

    h1 {
        font-size: 60px;
        color: rgb(227, 236, 54);
    }

    .superior {
        margin-top: 30px;
        gap: 10px;

    }

    .digite-aqui {
        margin-top: 10px;
        font-size: 30px;
        margin-bottom: 20px;
    }

    input {
        width: 150px;
        height: 50px;
        color: rgb(44, 9, 77);

    }

    .result {
        margin-top: 10px;
        height: 100px;
        width: 100px;
        margin-left: 280px;

    }

    .start {
        margin-top: 10px;
        height: 40px;
        width: 130px;
        font-size: 30px;
        margin-left: 270px;
    }}